/* CSS Reset Code */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset Code Ends Here */

h2 {

  font-size: 30px;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.header-main {
  height: 120px;
  background: #333333;
  padding: 15px 15px 15px 15px;
}

#header_contents_wrapper {

  width: 75%;
  margin: auto;

}


#logo {
   
  background-image: url("/assets/images/bill-gates-logo-sm.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  float:left;
}

.title_text {
  margin: 55px 0px 10px 15px;
  float:left;

}

/*
.navbar, .navbar-default, .navbar-fixed-top {
  min-height: 10px;
  margin-top: -50px;
  background: #333333;
  z-index: -1;
}
*/

.navbar-right {
  height: 35px;
  margin: 75px 20px 0px 0px;
  float: right;
  font-size: 16px;
  text-transform: uppercase;
  font-family: helvetica, arial, sans-serif;



}

.navbar-right a {

  margin-right: 20px;
  color: #DDDDDD;

}

.new_event_title {
  border-bottom: 1px solid rgb(170,18,10);
  margin-bottom: 25px;
}

html, body {
  min-height: 100%;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
}

.row {
  text-align: center;
}

.input-group {
  text-align: center;
}

.form-signin {
  margin: 0 auto;
  width: 30%;
  min-width: 150px;
  /*margin-top: -50px;*/
}


.logo_img {
  width: 50%;
  top: -100px;
  position: relative;
  min-width: 200px;
  padding-left: 10px;
  float: left;
}

.form-control {
  background-color: white;
  height:50px;
}

.new_event_form {
  width: 30%;
  margin: -80px auto;
  min-width: 150px;
}

.new_event_label {
  height:35px;
  width:30%;
}

.new_event_input {
  height:35px;
  width: 60%;
  float: right;
  margin-right:5%;
}

.btn-danger {
  width:100%;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
}

.submit_button {
  background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
  color: #FFFFFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.total_price_label {
  text-align: right;
  margin-bottom: -15px;
}

.your_events_container {
  width: 75%;
  margin: 0 auto;
}

.each_event_container {
  width: 30%;
  border-radius: 10px;
  border-color: rgb(170, 18, 10);
  padding: 5px 5px 5px 5px;
  float:left;
}

.footer-main {
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;
  background-color: #333333;
  padding: 25px;  
}

.footer-text {
  text-align: center;
  font-size: 15px;
  font-variant: small-caps;
  color: #f5f5f5;
}