<form method='post' action="/songs">

<h2><u>Add a New Event</u></h2>

<form>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name">
    </div>
    <div class="form-group">
        <label>Date:</label>
        <input type="text" name="date">
    </div>  
    <div class="form-group">
        <label>Time:</label>
        <input type="text" name="time">
    </div>
    <div class="form-group">
        <label>Location:</label>
        <input type="text" name="location">
    </div> 
    <div class="form-group">
        <label>Event URL:</label>
        <input type="text" name="event_url">
    </div> 
    <div class="form-group">
        <label>Ticket/Unit Price:</label>
        <input type="text" name="unit_price">
    </div>
    <div class="form-group">
        <label>Invite Your Friends (enter emails separated by commas):</label>
        <input type="text" name="emails">
    </div> 
    <div>
    <input type="submit" value="Submit" >
  </div>
</form>
