<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- Latest compiled and minified CSS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  
  <script src="/javascript/application.js"></script>

  <title>Bill 'Gates'</title>
</head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="header-main">
      <% if session[:leader_id] %>
        <% leader = Leader.find(session[:leader_id]) %>
        <h3>Welcome, <%= leader.leader_name %></h3>
      <% end %>
      <% if session[:leader_id] %>
        <nav><button class="navbar-right"><a href="/events">Manage events</a></button></nav>
        <nav><button class="navbar-right"><a href="/events/new">Create a new event</a></button></nav>
      <% end %>
      <nav><button class="navbar-right"><a>About Us</a></button></nav>
      <nav><button class="navbar-right"><a>FAQ</a></button></nav>
      <% if session[:leader_id] %>
        <nav><button class="navbar-left"><a href="/logout">Logout</a></button></nav>
      <% else %>
        <nav><button class="navbar-left"><a href="/">Log In</a></button></nav>
      <% end %>
    </div>
  </nav>
<body>
<br><br><br><br><br><br><br><br><br><br>
  <%= yield %>
  <br><br>
</body>
  <div>
    <div class="footer-main">
      <p class="footer-text">The Bill Gates App</p>
      <p class="footer-text">Powered by Billify!</p>
    </div>
  </div>
</html>
