<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- Latest compiled and minified CSS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  
  <script src="/javascript/application.js"></script>

  <title>Bill 'Gates'</title>
</head>
<!--  <nav class="navbar navbar-default navbar-fixed-top"> -->

  <div class="header-main">
    <div id="header_contents_wrapper">
            <% if session[:leader_id] %>
            <% leader = Leader.find(session[:leader_id]) %>
            <div class="salutation_text"><p>Welcome, <%= leader.leader_name %></p></div>
          <% end %>
        <div id="logo">  

        </div>
      <div class="title_text">
        <img src="/assets/images/title-text.png">
      </div>
      <nav class="navbar-right">


          <% if session[:leader_id] %>
            <a href="/events">Manage events</a>
            <a href="/events/new">Create a new event</a>
          <% end %>
          <a>About Us</a>
          <a>FAQ</a>
          <% if session[:leader_id] %>
            <a href="/logout">Logout</a>
          <% else %>
            <a href="/">Log In</a>
          <% end %> 
      </nav>
    </div>
  </div>
<body>
  <%= yield %>
  <br><br>

  <div>
    <div class="footer-main">
      <p class="footer-text">The Bill Gates App</p>
      <p class="footer-text">Powered by Billify!</p>
    </div>
  </div>
</body>

</html>
