<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Bill 'Gates'</title>
</head>
  <div class="header-main">
    <nav><button class="nav nav-pills"><a>Manage events</a></button></nav>
    <nav><button class="nav nav-pills"><a>Create a new event</a></button></nav>
  </div>
<body>
  <%= yield %>
</body>
  </div>
    <div class="footer-main">
      <p class="footer-text">The Bill Gates App</p>
      <p class="footer-text">-</p>
      <p class="footer-text">Powered by Billify!</p>
    </div>
  </div>
</html>
